<!DOCTYPE html>
<html>
<head>
	<title>Isolated Scope Vala Question</title>
	<!--Create custom directive using isolate scope. -->
	<script type="text/javascript" src=https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript">
		var mod=angular.module("App",[]);
		mod.controller("control",function($scope){
			$scope.var1="name of piyush";
			$scope.var2="name of channa";
			$scope.var3="name of ojha";
		});
		mod.directive("ngDir",function(){ 
			return {
				template:'<div class="container">Var1: {{var1}}<br> var2: {{var2}}<br> var3:{{var3}}</div>',
				restrict:'A',
				replace:'false',
				scope:{}				//Isolated Scope
			}
		});
		
	</script>
</head>
<body ng-app="App" ng-controller="control">
		<form>
			<div class="form-group">
			<label>	Var1 :</label> <input type="text" placeholder=" Enter your var1 " ng-model="var1">  </input> <br>
			</div>
			<div class="form-group">
			<label> Var2 :</label> <input type="text" placeholder=" Enter your var2 " ng-model="var2">  </input> <br>
			</div>
			<div class="form-group">
			<label> Var3 :</label> <input type="text" placeholder=" Enter your var3 " ng-model="var3">  </input> <br>
			</div>
		</form>
		<div ng-dir> </div>
</body>
</html>